[Desktop Entry]
Type=Application
Name=Davenstein
Comment=Dave's Wolfenstein 3-D recreation written in Rust with the Bevy engine
Exec=Davenstein
Icon=davenstein
Terminal=false
Categories=Game;
